@model SMIS.UI.Models.RegisterViewModel
@{
	ViewData["Title"] = "Register";
	Layout = null;
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

@if (ViewBag.Error != null)
{
	<p style="color:red">@ViewBag.Error</p>
}

<form asp-action="Register" method="post" class="login-card">

	<h2>Kayıt Ol </h2>

	<input type="text" name="FullName" placeholder="Ad Soyad" required />
	<input type="password" name="Password" placeholder="Şifre" required />

	<select name="Role">
		<option>Öğrenci</option>
		<option>Öğretmen</option>
		<option>Veli</option>
	</select>

	<button type="submit">Kayıt Ol</button>

	<div class="register-area">
		<span>Zaten hesabın var mı?</span>
		<a asp-action="Login">Giriş Yap</a>
	</div>

</form>

</div>

