<h1 class="page-title">Okul Duyuruları</h1>

<div class="admin-wrapper">

    <div class="admin-card">

        @foreach (var item in Model)
        {
            <div class="announcement-card">
                <h3>@item.Title</h3>
                <p>@item.Content</p>
                <span>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm")</span>
            </div>
        }

        <a asp-action="Index" class="back-link"> Panele Dön</a>
    </div>

</div>
