@model List<SMIS.Entities.Models.Announcement>

<h2> Okul Duyuruları</h2>

@foreach (var item in Model)
{
    <h4>@item.Title</h4>
    <p>@item.Content</p>
    <small>@item.CreatedDate</small>
    <hr />
}
