<h2> Notlarım</h2>

<table border="1">
    <tr>
        <th>Ders</th>
        <th>Not</th>
    </tr>
    <tr>
        <td>Matematik</td>
        <td>85</td>
    </tr>
    <tr>
        <td>Fizik</td>
        <td>90</td>
    </tr>
</table>
