@using SMIS.UI.Models
@model IEnumerable<StudentLessonStatusVM>

<h2> Notlarım & Devamsızlıklarım</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ders</th>
            <th>Not</th>
            <th>Devamsızlık</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LessonName</td>
                <td>@item.Score</td>
                <td>@item.AbsenceCount gün</td>
            </tr>
        }
    </tbody>
</table>
