@model List<SMIS.Entities.Models.Grade>

<h2>Notlarım</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Ders</th>
        <th>Not</th>
    </tr>

    @foreach (var grade in Model)
    {
        <tr>
            <td>@grade.LessonName</td>
            <td>@grade.Score</td>
        </tr>
    }
</table>
