<h1> Öğrenci Paneli</h1>

<ul>
    <li>
        <a href="/Student/Schedule"> Ders Programım</a>
    </li>
    <li>
        <a href="/Student/Grades"> Notlarım</a>
    </li>
    <li>
        <a href="/Student/Announcements"> Okul Duyuruları</a>
    </li>
</ul>

