<h1 class="page-title">Öğrenci Paneli</h1>

<div class="admin-wrapper">

    <div class="admin-card">
        <div class="admin-title">Öğrenci İşlemleri</div>

        <div class="admin-links">

            <a asp-controller="Student" asp-action="Schedule">
                 Ders Programım
            </a>

            <a asp-controller="Student" asp-action="Grades">
                 Notlarım
            </a>

            <a asp-controller="Student" asp-action="Announcements">
                 Okul Duyuruları
            </a>

        </div>
    </div>

</div>
