<h2> Ders Programım</h2>

<table border="1">
    <tr>
        <th>Gün</th>
        <th>Ders</th>
        <th>Saat</th>
    </tr>
    <tr>
        <td>Pazartesi</td>
        <td>Matematik</td>
        <td>09:00 - 10:00</td>
    </tr>
    <tr>
        <td>Salı</td>
        <td>Fizik</td>
        <td>11:00 - 12:00</td>
    </tr>
</table>
