@model List<SMIS.Entities.Models.LessonSchedule>

<h2>Ders Programım</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>Gün</th>
        <th>Ders</th>
        <th>Saat</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Day</td>
            <td>@item.LessonName</td>
            <td>@item.Hour</td>
        </tr>
    }
</table>
