<h2> Yoklama Girişi</h2>

<form asp-action="Attendance" method="post">

    <label>Ders Seç:</label>
    <select name="lessonName" class="form-control mb-2">
        @foreach (var lesson in ViewBag.Lessons)
        {
            <option value="@lesson">@lesson</option>
        }
    </select>

    <label>Öğrenciler:</label>

    @foreach (var student in ViewBag.Students)
    {
        <div>
            <input type="checkbox"
                   name="absentStudentIds"
                   value="@student.Id" />
			@student.FullName
        </div>
    }

    <button type="submit" class="btn btn-danger mt-3">
        Devamsızlık Kaydet
    </button>
</form>
