<div class="panel-container">

    <div class="panel-card">
        <div class="section-title"> Yoklama</div>

        <form method="post">
            @foreach (var student in Model)
            {
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="presentIds" value="@student.Id" />
                        @student.FullName
                    </label>
                </div>
            }

            <button type="submit" class="primary-btn">Kaydet</button>
        </form>
    </div>
    <a asp-action="Index" class="back-link">Panele Dön</a>
</div>
