@model List<SMIS.Entities.Models.User>

<h2>Yoklama</h2>

<form method="post">
    <table>
        <tr>
            <th>Öğrenci</th>
            <th>Durum</th>
        </tr>

        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Username</td>
                <td>
                    <input type="checkbox" name="presentIds" value="@student.Id" />
                </td>
            </tr>
        }
    </table>

    <button type="submit">Kaydet</button>
</form>
