<h1 class="page-title">Öğretmen Paneli</h1>

<div class="admin-wrapper">

    <div class="admin-card">
        <div class="admin-title">Öğretmen İşlemleri</div>

        <div class="admin-links">

            <a asp-controller="Teacher" asp-action="Attendance">
                 Yoklama
            </a>

            <a asp-controller="Teacher" asp-action="Grades">
                 Not Girişi
            </a>

            <a asp-controller="Teacher" asp-action="Announcements">
                 Duyurular
            </a>

        </div>
    </div>
</div>
