<h2>Öğretmen Paneli</h2>

<ul>
    <li>
        <a asp-controller="Teacher" asp-action="Attendance">
            Yoklama
        </a>
    </li>

    <li>
        <a asp-controller="Teacher" asp-action="Grades">
            Not Girişi
        </a>
    </li>

    <li>
        <a asp-controller="Teacher" asp-action="Announcements">
            Duyurular
        </a>
    </li>
</ul>


