<h1>Veli Paneli</h1>

<ul>
    <li><a asp-action="Grades">Çocuğumun Notları</a></li>
    <li><a asp-action="Attendance">Devamsızlık Bilgileri</a></li>
    <li><a asp-action="Announcements">Okul ve Sınıf Duyuruları</a></li>
</ul>

