<div class="page-container">

    <div class="panel-card">
        <div class="panel-title">Veli Paneli</div>

        <div class="panel-links">
            <a asp-action="Grades"> Çocuğumun Notları</a>
            <a asp-action="Announcements"> Okul ve Sınıf Duyuruları</a>
        </div>
    </div>
</div>
