@model SMIS.Entities.Models.User

<div class="admin-wrapper">

    <div class="admin-card">
        <div class="admin-title">Öğretmen Ekle</div>

        <form asp-action="AddTeacher" method="post" class="teacher-form">

            <input type="text"
                   name="FullName"
                   placeholder="Ad Soyad"
                   required />

            <input type="password"
                   name="Password"
                   placeholder="Şifre"
                   required />

            <button type="submit" class="primary-btn">
                Öğretmen Ekle
            </button>
        </form>
    </div>
    <a asp-action="Index" class="back-link"> Panele Dön</a>
</div>
