<h2> Öğretmen Ekle</h2>

<form method="post">
    <input type="text" name="fullName" placeholder="Ad Soyad" required />
    <br /><br />
    <input type="password" name="password" placeholder="Şifre" required />
    <br /><br />
    <button type="submit"> Öğretmen Ekle</button>
</form>
